.StateCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	border-radius: 8px;
	padding: 20px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	width: 180px;
	text-align: center;
	margin-top: 40px;
}

.statValue {
	font-size: 24px;
	font-weight: bold;
	color: #2f39e2;
}

.stateInfo p {
	margin: 0;
	font-size: 14px;
	color: #666;
}

.positive {
	color: green;
	font-weight: bold;
}

.negative {
	color: red;
	font-weight: bold;
}